{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
      ], "@babel/react"
  ],
  "plugins": [
    "transform-class-properties",
    "istanbul",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
  ]
}
